<div class="sidenav">
  <div class="option">
    <div routerLink="/{{authenticated}}">
      <p> View... </p>
    </div>
    <div *ngIf="this.authenticated=='patient'" [matMenuTriggerFor]="menu">
      <p>Book</p>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="/{{authenticated}}/book">Walkin</button>
  <button mat-menu-item routerLink="/{{authenticated}}/book">Annual</button>
</mat-menu>
    </div>
    <div (click)="this.logout()">
      <p> Logout </p>
    </div>
  </div>
</div>