.sidenav {
    background-color: rgb(255, 255, 255);
    float: left;
    position: fixed;
    width: 15%;
    border-right: solid rgb(206, 214, 218);
    height: 100%;
}

.option {
    padding: 5%;
    border-bottom: solid rgb(206, 214, 218);
}