<mat-nav-list class="sidebar">
  <a mat-list-item routerLink="/{{authenticated}}" *ngIf="this.authenticated=='doctor'"> This week </a>
  <a mat-list-item routerLink="/{{authenticated}}/availabilities" *ngIf="this.authenticated==='doctor'">
    Your
    availabilities </a>

  <mat-accordion *ngIf="this.authenticated==='patient'">

      <div routerLink="/{{authenticated}}">
        <p> View Bookings </p>
      </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p class="dropdown" mat-list-item> Book </p>
      </mat-expansion-panel-header>
      <mat-nav-list class = "dropdown-options">
        <button mat-button routerLink="/{{authenticated}}/book/walkin">
          <i class="material-icons">directions_walk</i>
          Walk-in
        </button>
        <button mat-button routerLink="/{{authenticated}}/book/annual">
          <i class="material-icons">local_hospital</i>
          Annual Checkup
        </button>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>

  <a mat-list-item (click)="this.logout()" id="logout"> Logout </a>

</mat-nav-list>
