.sidebar {
    background-color: rgb(255, 255, 255);
    float: left;
    position: absolute;
    width: 16%;
    border-right: solid rgb(206, 214, 218);
    border-bottom: solid rgb(206, 214, 218);
    height: 100%;
}

mat-nav-list {
    padding: 0;
}

.sidebar a {
    border: none;
    padding-left: 5px;
    border-bottom: solid rgb(206, 214, 218);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.dropdown {
    margin: 0;
    margin-top: 7px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.dropdown-options {
    margin: 0;
}

.dropdown-options a { 
    border: none;
    font-size: 13px;
}

#logout, .dropdown-options a {
    font-weight: normal;
}

mat-accordion, mat-expansion-panel {
    border-radius: 0;
    padding: 0;
    margin: 0;
}