i {
    font-size: 50px;
}

i:focus, h2:focus, h5:focus {
    outline: none;
}

i:hover, h2:hover, h5:hover {
    cursor: pointer;
    color: rgb(223, 223, 223);
}

.mdc-layout-grid {
    background-color: rgb(107, 165, 189);
    padding: 15px;
    padding-left: 5%;
    color:white;
}

.mdc-layout-grid__cell {
    text-align: center;
}