<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell"> 
          <h2 routerLink="/{{authenticated}}"> 〄 UberSante </h2>
      </div>
      <div class="mdc-layout-grid__cell">
          <p> You are logged in as: </p>
          <h5 routerLink="/user-profile"> {{user.firstName}} {{user.lastName}}  </h5>
      </div>
      <div class="mdc-layout-grid__cell">
       <i class="material-icons" routerLink="/user-profile"> person_pin </i>
       <i *ngIf="this.authenticated=='patient'" class="material-icons" matBadge="{{this.cartDataService.list.length}}" routerLink="/cart" >shopping_cart</i>
      </div>
    </div>
  </div>