i {
    font-size: 50px;
}

i:focus, h1:focus {
    outline: none;
}

i:hover, h1:hover {
    cursor: pointer;
}

.mdc-layout-grid {
    background-color: rgb(107, 165, 189);
    padding: 30px;
    padding-left: 5%;
    color:white;
}

.mdc-layout-grid__cell {
    text-align: center;
}