<div>
  <h2>Your Cart</h2>

  <span *ngIf="this.cart.length==0">Your cart is empty</span>

  <table *ngIf="this.cart.length>=1">
    <tr>
      <th>Appointment Type</th>
      <th>Day</th>
      <th>Time</th>
      <th>Remove from Cart</th>
    </tr>
    <tr *ngFor="let appointment of cart; let i = index">
      <td> {{appointment.appointmentType}} </td>
      <td> {{appointment.day}} </td>
      <td> {{appointment.start}} to {{appointment.end}} </td>
      <td> <button mat-stroked-button (click)="remove(i)">Remove</button></td>
    </tr>
  </table>
</div>

<div class="checkout">
  <button *ngIf="this.cart.length>=1" mat-stroked-button (click)="openDialog()" id="checkout">Checkout</button>
</div>