<form [formGroup]="nurseLogin" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <input matInput placeholder="Nurse Access ID" formControlName="nurseID">
    </mat-form-field>
  </div>
  <mat-error *ngIf="nurseLogin.get('nurseID').hasError('pattern')">
    Please enter a valid ID
  </mat-error>
  <div>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button type="submit" mat-button> Login </button>
  </div>

</form>