<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title"> Event</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Type</th>
            <th>Starts at</th>
            <th>Duration</th>
            <th *ngIf="modalData?.action !== 'add'" >Remove</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <p> {{modalData?.event.title}}</p>
            </td>
            <td>
              <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="modalData?.event.start"  [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" />
            </td>
            <td>
              <p> {{modalData?.event.duration}} minutes </p>
            </td>
            <td *ngIf="modalData?.action !== 'add'">
              <button class="btn btn-danger" (click)="events.splice(index, 1); refresh.next(); close()">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click) = "apply(modalData?.action, modalData?.event)" class="btn btn-outline-secondary" (click)="close()">
      Apply
    </button>
  </div>
</ng-template>

<div class = "content">

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary mb1 black bg-darken-4" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div class="btn btn-outline-secondary mb1 black bg-darken-4" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary mb1 black bg-darken-4" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view" class="calendar">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="viewDate = $event.day.date; view = 'day'" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [dayStartHour]="8"
    [dayEndHour]="20" [hourSegments]="3" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [dayStartHour]="8"
    [dayEndHour]="20" [hourSegments]="3" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

</div>


<div class="fab">
  <button class="add-button" mat-fab data-tooltip="Add Availability" color="primary">
    <mat-icon><i class="material-icons">add</i></mat-icon>
  </button>
  <ul class="fab-buttons">
    <li class="fab-buttons__item">
        <button mat-mini-fab data-tooltip="Add Walk-in" class = "walkin" (click)="addAvailability('walkin')">
            <mat-icon><i class="material-icons">directions_walk</i></mat-icon>
          </button>
    </li>
    <li class="fab-buttons__item">
        <button mat-mini-fab data-tooltip="Add Annual Checkup" class = "checkup" (click)="addAvailability('checkup')">
            <mat-icon><i class="material-icons">local_hospital</i></mat-icon>
          </button>
    </li>
  </ul>
</div>