<h1 mat-dialog-title>Update Appointment</h1>
<div mat-dialog-content>

  <!-- Use this format to show data: {{this.data[0].date}}  -->
    <p>Appointment Details: {{this.data[0].appointmentType}} appointment</p>
    <p>Update your current appointment from </p>
    <p class="center" id="show_old_info"> {{this.data.old.date}} at {{this.data.old.time}}</p>
    <p>to the following appointment</p>
    <p class="center" id="show_new_info">{{this.data[0].startTime}}</p>

</div>
<div class="center">
  <button mat-button (click)="updateAppointment()">Confirm</button>
  <button mat-button (click)="close()">Cancel</button>
</div>