.center {
    text-align: center;
  }

  #show_old_info {
    background-color: orangered;
    padding: 5px;
    font-weight:bold;
  }

  #show_new_info {
    background-color: yellowgreen;
    padding: 5px;
    font-weight:bold;
  }