.content {
    background-color: rgb(255, 255, 255);
    border: solid rgb(206, 214, 218);
    padding: 5%;
    margin-top: 5%;
}

td {
    margin: 2%;
    font-size: 14px;
}

.key {
    font-weight: bold;
    padding-right: 15px;
}