<form *ngIf="!this.register" [formGroup]="patientLogin" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <input matInput placeholder="Healthcard Number" formControlName="healthCard">
    </mat-form-field>
  </div>
  <mat-error *ngIf="patientLogin.get('healthCard').hasError('pattern')">
    Please enter a valid healthcard number
  </mat-error>
  <div>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button type="submit" mat-button> Login </button>
  </div>

  <div>
    <button mat-button (click)="registerPatient()">New to UberSante? Register now.</button>
  </div>

</form>

<app-registration *ngIf="this.register"> </app-registration>