<div class = "content">
<h2 mat-dialog-title>Add to Cart</h2>
<div mat-dialog-content>
  <p>Would you like to add this <strong> {{this.data.appointmentType}} </strong> appointment from
    <strong> {{this.data.startTime}} </strong>
    to <strong> {{this.data.endTime}} </strong> to your cart?</p>

</div>

<div mat-dialog-actions align = "end">
  <button mat-stroked-button color="primary" (click)="close()">Cancel</button>
  <button mat-stroked-button color="primary" (click)="bookAppointment() ">Add to cart</button>
</div>

</div>