<mat-card>
  <h3>CLINIC NAME</h3>

  <mat-list role="list">

    <mat-divider></mat-divider>
    <h3 matSubheader>Our Clinic Hours </h3>
    <mat-list-item role="listitem">8:00 - 15:00</mat-list-item>

    <mat-divider></mat-divider>
    <h3 matSubheader>Our Doctors</h3>
    <mat-list-item role="listitem">Doctor 1</mat-list-item>
    <mat-list-item role="listitem">Doctor 2</mat-list-item>

    <mat-divider></mat-divider>
    <h3 matSubheader>Our Nurses</h3>
    <mat-list-item role="listitem">Nurse 1</mat-list-item>
    <mat-list-item role="listitem">Nurse 2</mat-list-item>
    <mat-list-item role="listitem">Nurse 3</mat-list-item>

    <mat-divider></mat-divider>
    <h3 matSubheader>Our Available Rooms </h3>
    <mat-list-item role="listitem">Room</mat-list-item>
  </mat-list>
  <p></p>

  <button mat-flat-button routerlink="/clinics">Back</button>
</mat-card>