<form [formGroup]="doctorLogin" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <input matInput placeholder="Permit Number" formControlName="permitNum">
      <mat-error *ngIf="doctorLogin.get('permitNum').hasError('pattern')">
          Please enter a valid permit number
        </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </div>
  <div class="button">
    <button mat-raised-button type="submit" mat-button> Login </button>
  </div>

</form>