<form [formGroup]="doctorLogin" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <input matInput placeholder="Permit Number" formControlName="permitNumber">
      <mat-error *ngIf="doctorLogin.get('permitNumber').hasError('pattern')">
        Invalid permit number
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
  </div>
  <div class="button">
    <button mat-raised-button type="submit" mat-button> Login </button>
  </div>

</form>