<div>
  <h2>Your Next Appointments</h2>

  <span *ngIf="this.appointments.length==0">No future appointments</span>

  <table *ngIf="this.appointments.length>0">
    <tr>
      <th>Appointment Type</th>
      <th>Day</th>
      <th>Time</th>
      <th>Patient</th>
    </tr>
    <tr *ngFor="let appointment of appointments">
      <td> {{appointment.appointmentType}} </td>
      <td> {{appointment.date}} </td>
      <td> {{appointment.time}} </td>
      <td> {{appointment.patient}}</td>
    </tr>
  </table>
</div>