<div onload="getAppointments()">  
  <h3>Bookings</h3>
  <ul>
    <li *ngFor="let list of list; let i = index">
     <!-- <mat-list role="list">
          <mat-list-item role="listitem">Booking 1</mat-list-item>
          <mat-list-item role="listitem">Booking 2</mat-list-item>
          </mat-list> -->    
      <div>
      <mat-card>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <p mat-line>
                <span>Booking from {{list.start}} to {{list.end}} on {{list.day}}</span>
              </p>
            </mat-list-item>
          </mat-list>
      </mat-card>
      </div>
    </li>
  </ul>
  <ng-template #other_content>There are no bookings</ng-template>
</div>

