<div onload="getAppointments()">  
  <h3>Bookings</h3>

    <div>
      <mat-card *ngFor="let list of list; let i = index">
          <mat-list role="list">
            <mat-list-item role="listitem">
              <p mat-line>
                <span>{{list.appointmentType}} Appointment: </span>
              </p>
              <button mat-button style="float: right;" (click)="cancelBooking(list)">Cancel</button>
              <button mat-button style="float: right;">Update</button>
              <p mat-line>
                <span>Booking is on {{list.date}} at {{this.convertTime((list.date + " "  + list.time))}} with Dr. {{list.doctorDetails.lastName}}</span>
              </p>
            </mat-list-item>

          </mat-list>
      </mat-card>
    </div>


  <ng-template #other_content>There are no bookings</ng-template>
</div>

